<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="header">
    <nav>
        <ul>
            <li th:if="${#authorization.expression('hasRole(''USER'')')}">
                <a th:href="@{/user/userPage}">Profile</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''MANAGER'')')}">
                <a th:href="@{/manager/managerPage}">Profile</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''COURIER'')')}">
                <a th:href="@{/courier/deliveryPage}">Profile</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a th:href="@{/admin/rootPage}">Profile</a>
            </li>
            <li th:if="${#authorization.expression('hasRole(''REST_OWNER'')')}">
                <a th:href="@{/rest_owner/restOwner}">Profile</a>
            </li>
            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Profile</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
