<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/mainCSS.css}">
    <title>Grab and go - Restaurant view</title>
</head>
<body>
<header>
    <div class="logo">
        <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Our restaurants</a></li>
            <li><a href="/aboutUs">About us</a></li>
            <li><a href="/contact">Contacts</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>
<section>
    <h2 th:text="${restaurant[0].restaurant}"></h2>
    <br>
    <img th:src="${restaurant[0].logo}" alt="Restaurant" width="250px">
    <ul style="list-style-type: none">
        <li th:each="open_hour : ${restaurant}">
            <b th:text="${open_hour.dayOfWeek}">: </b>  <span th:text="${open_hour.opensAt}"></span>-<span th:text="${open_hour.closesAt}"></span>
        </li>
    </ul>
    <a th:href="@{/restaurants/edit/{id}(id=${restaurant[0].id})}" style="text-decoration: none">Update restaurant</a>
    <form th:action="@{/restaurants/delete/{id}(id=${restaurant[0].id})}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete restaurant">
    </form>
</section>
<footer>
    <div class="footer-logo">
        <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
    </div>
    <div class="footer-data">
        <div class="links">
            <h4>Links</h4>
            <ul style="list-style-type: none">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Frequently asked questions</a></li>
            </ul>
        </div>
        <div class="social">
            <h4>Social</h4>
            <ul>
                <li><a href="facebook.com">Facebook</a></li>
                <li><a href="instagram.com">Instagram</a></li>
                <li><a href="linkedin.com">LinkedIn</a></li>
            </ul>
        </div>
        <div class="policies">
            <h4>Policies</h4>
            <ul>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>