<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/aboutUs.css}">
    <title>About Us!</title>
</head>
<body>
<header>
  <div class="logo">
    <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a th:href="@{/restaurants/}">Our restaurants</a></li>
      <li><a href="/aboutUs">About us</a></li>
      <li><a href="/contact">Contacts</a></li>
      <li><a href="/login">Profile</a></li>
    </ul>
  </nav>
</header>
<section>
    <div class="container">
      <div class="header">
        <h1>Gash&Go – Order Fast, Enjoy Faster!</h1>
      </div>
      <div class="logoContainer">
        <img th:src="@{/images/logo.png}" alt="granb&go logo">
      </div>
      <div class="aboutus">
        <h2>Who We Are</h2>
        <p>Grab&Go – Your Ultimate Food Delivery Experience! At Grab&Go, we bring your favorite meals right to your doorstep with just a few clicks. Whether you're craving local flavors or international cuisine, we’ve got you covered. Fast, reliable, and hassle-free – because good food should always be within reach. Order now and let us handle the rest!</p>
      </div>
    </div>
</section>
<article>
  <div class="statistics">
    <img src="" alt="">
    <p></p>
  </div>
</article>
<footer>
  <div class="footer-logo">
    <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
  </div>
  <div class="footer-data">
    <div class="links">
      <h4>Links</h4>
      <ul>
        <li><a th:href="@{/aboutUs}">About us</a></li>
        <li><a th:href="@{/contact}">Contacts</a></li>
      </ul>
    </div>
    <div class="social">
      <h4>Social</h4>
      <ul>
        <li><a href="https://facebook.com">Facebook</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        <li><a href="https://linkedin.com">LinkedIn</a></li>
      </ul>
    </div>
    <div class="policies">
      <h4>Policies</h4>
      <ul>
        <li><a th:href="@{/termsAndConditions}">Terms and conditions</a></li>
        <li><a th:href="@{/privacyPolicy}">Privacy Policy</a></li>
        <li><a th:href="@{/cookiePolicy}">Cookie Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>