<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/contactUs.css}">
  <title>Contact us </title>
</head>
<body>
<header>
  <div class="logo">
    <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
  </div>
  <nav>
    <ul>
      <li><a th:href="@{/}">Home</a></li>
      <li><a th:href="@{/restaurants/}">Our restaurants</a></li>
      <li><a th:href="@{/aboutUs}">About us</a></li>
      <li><a th:href="@{/contact}">Contacts</a></li>
      <li><a th:href="@{/profile}">Profile</a></li>
    </ul>
  </nav>
</header>
<div class="form-contact">
  <h2>You can fill out our contact form if you have any questions!</h2>
  <form th:action="@{/contact}" method="post" th:object="${contactMessage}">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" th:field="*{firstName}" placeholder="Ivan" />

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" th:field="*{lastName}" placeholder="Ivanov" />

    <label for="email">Enter your email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Enter your email address" />

    <label for="subject">Subject:</label>
    <textarea id="subject" th:field="*{subject}" placeholder="Write something.."></textarea>

    <input type="submit" value="Submit" />
  </form>
</div>
<footer>
  <div class="footer-logo">
    <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
  </div>
  <div class="footer-data">
    <div class="links">
      <h4>Links</h4>
      <ul>
        <li><a th:href="@{/aboutUs}">About us</a></li>
        <li><a th:href="@{/contact}">Contacts</a></li>
      </ul>
    </div>
    <div class="social">
      <h4>Social</h4>
      <ul>
        <li><a href="https://facebook.com">Facebook</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        <li><a href="https://linkedin.com">LinkedIn</a></li>
      </ul>
    </div>
    <div class="policies">
      <h4>Policies</h4>
      <ul>
        <li><a th:href="@{/termsAndConditions}">Terms and conditions</a></li>
        <li><a th:href="@{/privacyPolicy}">Privacy Policy</a></li>
        <li><a th:href="@{/cookiePolicy}">Cookie Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>