<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/profilePage.css}">
    <title>Profile</title>
</head>
<body>
<header>
    <div class="logo">
        <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Our restaurants</a></li>
            <li><a href="/aboutUs">About us</a></li>
            <li><a href="/contact">Contacts</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>
<h2>Welcome to Grab & go</h2>
<div class="login">
    <form action="/login">
        <label for="email">Email address:</label><br>
        <input type="email" id="email" placeholder="Enter your address"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password"><br><br>
        <button type="submit" value="Submit"></button>
    </form>
</div>
</body>
</html>