<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/registrationPage.css}">
    <title>Profile</title>
</head>
<body>
<header>
    <div class="logo">
        <span>Grab</span><span class="highlight">&amp;</span><span class="highlightSecond">go</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/restaurants">Our restaurants</a></li>
            <li><a href="/aboutUs">About us</a></li>
            <li><a href="/contact">Contacts</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>
<div class="login">
    <form action="/login">
        <h2>Registration</h2>
        <label for="fname">First name:</label><br>
        <input type="fname" id="fname" placeholder="John"><br><br>
        <label for="lname">Last name:</label><br>
        <input type="lname" id="lname" placeholder="Doe"><br><br>
        <label for="email">Email address:</label><br>
        <input type="email" id="email" placeholder="Enter your address"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password"><br><br>
        <button type="submit" value="Submit">Register me</button>
        <a href="/profile"><p>You have a registration? Log In!</p></a>
    </form>
</div>
</body>