@import url("mainCSS.css");
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    flex: 1;
}
.header h1{
    position: static !important;
    width: 2000px;
    height: 94px;
    top: 142px;
    font-family: 'Original Surfer';
    font-weight: 400;
    font-size: 75px;
    line-height: 94px;
    margin-top: 50px;
    color: #000000;
    max-width: 100%;
    overflow-wrap: break-word;
}

.logoContainer img{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 100px;
    top: 30%;

}

.aboutus h2{
    position: sticky;!important;
    width: 398px;
    height: 81px;
    left: 582px;
    top: 415px;
    font-family: 'Original Surfer';
    font-weight: 400;
    font-size: 65px;
    line-height: 81px;
    color: #000000;
}

.aboutus p {
    text-align: justify;
    width: 689px;
    margin: 50px auto; /* Вместо `left` и `top` */
    font-family: 'Original Surfer';
    font-size: 25px;
    line-height: 31px;
    color: #000000;
}


footer {
    position: relative;
    z-index: 10;
    background: #333;
    color: white;
    padding: 70px;
    text-align: left;
}

footer .footer-logo span {
    font-size: 24px;
    font-weight: bold;
}

footer .footer-logo .highlight {
    color: gray;
}

footer .footer-logo .highlightSecond {
    color: black;
}

footer .footer-data {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin: 20px 0;
}

footer .footer-data ul {
    list-style: none;
    padding: 0;
}

footer .footer-data ul li {
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #ffa500;
}

footer a:hover {
    color: white;
}
